h2, h3, h4 { margin: 2%;}
body {
    color: #000;
    background-color: #ddd;
    counter-reset: question-counter heading-counter;
    font-family: Arial, Helvetica, sans-serif;
    font: 20px sans-serif;
    max-width: fit-content;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
a, a:visited, a:hover { text-decoration: none; color: #000;}
a:hover { color: white; }
x { opacity: 0.4; margin: 0; }

.table_of_content, .important_questions {
    border: 2px solid grey;
    width: 60%;
    border-radius: 5px;
    padding: 0 12px 12px 8px;
    background-color: rgb(238, 232, 232);
    color: #222;
    margin-bottom: 20px;
}
.important_questions {
    width: 80%;
}
.important_questions span {
    display: inline-flex;
    border: 1px solid #090707;
    border-radius: 16px;
    padding: 2px 8px;
    margin: 1px;
}
.important_questions span:hover,
.important_questions span:hover a { background-color: #484748; color: white; }
