body {
    color: #000;
    background-color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    max-width: fit-content;
    font: 20px sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.section {
    border: 2px solid grey;
    border-left: 12px solid var(--c);
    border-radius: 5px;
    padding: 0 20px 12px 20px;
    background-color: white;
    color: #000;
    margin-bottom: 24px;
    min-width: 80vw;
    max-width: 80vw;
}

x {
    border-radius: 5px;
    border: 1px solid black;
    font-family: monospace;
    padding: 0px 3px 2px 3px;
    white-space: pre-wrap;
    background-color: #0000001a;
    color: #000000bf;
}

ul {
    margin-block-start: 8px;
    margin-block-end: 8px;
}

img {
    margin: 8px 4px;
    border: 1px solid black;
    max-width: 800px;
}

question_title {
    display: block;
    margin: 12px 0px;
    font-size: 30px;
    font-weight: bold;
}
question {
    display: block;
    margin: 12px 0 12px 0;
    padding: 8px;
    border: 1px solid;
    background: #edf5ed;
    border-radius: 8px;
}
notes {
    display: block;
    margin: 12px 0 20px 0;
}