    stick_board {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px auto 0 auto;
    }
    sticky {
        color: #000;
        position: relative;
        display: block;
        width: fit-content;
        height: fit-content;

        margin: 10px auto;
        padding: 16px;
        
        font-size: 18px;
        box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
        transform: rotate(1deg);
    }
    sticky::before { 
        content: "notes:";
        display: block;
        padding-bottom: 5px;
    }
    sticky a {
        font-style: italic; 
        text-decoration: underline;
        color: blue;
    }