.tab-wrapper {
    margin: auto;
    background: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: grid; /* Grid allows stacking */
}
.tab-menu {
    /* grid-row: 1; */
    /* display: flex; */
    /* background: #eee; */
}
.tab-btn {
    font: 18px sans-serif;
    flex: 1;
    padding: 15px;
    border: 1px solid lightgrey;
    cursor: pointer;
    color: #1c1b1b;
    background: #eee;
    border-bottom: 2px solid lightgrey;
    min-width: 200px;
}
.tab-btn:hover { background: #e0e0e0; }
.tab-btn.active {
    background: white;
    border-bottom: 2px solid black;
    color: black;
    font-weight: bold;
}
.tab-content {
    grid-row: 2;
    grid-column: 1; /* All tabs sit in the exact same spot */
    visibility: hidden;
    opacity: 0;
    pointer-events: none; /* Prevents clicking links in hidden tabs */
}
.tab-content.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
